@model ProductDetailModel

<div class="row pt-5">
    <div class="col-md-3 pt-5">
        <img src="~/img/@Model.Product.ImageUrl" class="img-fluid" alt="@Model.Product.Name eğitim yurtdışı yurtdisi-egitim">
    </div>
    <div class="col-md-9">                
            <h1 class="mb-3 pt-5">@Model.Product.Name</h5> <hr>

            @foreach (var item in Model.Categories)
            {
                <a asp-controller="shop" asp-action="list" asp-route-category="@item.Url" class="btn btn-link p-0 mb-3">@item.Name</a> 
            }                          
            
            <div class="mb-3">
                <h4 class="text-primary mb-3">
                    Ne yazsak ki
                </h4>
            </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-5">
        <img src="~/img/@Model.Product.ImageUrl" class="detailImg" alt="@Model.Product.Name egitim yurtdışı yurtdisi-egitim">
        <p class="p-3">@Html.Raw(Model.Product.Description)</p>
    </div>
</div>
